* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.card {
  height: 20rem;
  width: 15rem;
  background-color: #413a3ad6;
  text-align: center;
  padding: 1.25rem;
  position: relative;
  border-radius: 8px;
}

.img {
  height: 5rem;
  width: 5rem;
  /* background-color: rebeccapurple; */
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}

img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

h2 {
  margin: 0.25rem 0;
}

h4 {
  color: red;
}

p {
  margin: 0.6rem 0;
}

button {
  height: 2rem;
  width: 6rem;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #dadada;
  border: none;
  border-radius: 2px;
}

button:hover {
  background-color: blue;
  color: #fff;
}
